


.lynx-container{
  margin-top:10px;
  color: #fff;
}

.lynx-icon{
  border: solid 1px #ddd;
  border-radius: 5px 0px 0px 5px;
  color: #40667A;
  background: #eee;
  padding: 7px;
  margin-right:0px;
}

.lynx-monthdisplay{
  display:inline-block!important;
  border: solid 1px #ddd;
  padding: 5px 12px 5px 8px;
  border-radius: 0px 5px 5px 0px;
  background-color: #fff;
  cursor:pointer;
  margin-left: -5px;
}

.lynx-lowerMonth, .lynx-upperMonth{
  color: #40667A;
  font-weight:bold;
  font-size: 11px;
  text-transform:uppercase;
}

.lynx-to{
  color: #aaa;
  margin-right: 0px;
  margin-left: 0px;
  font-size: 11px;
  text-transform: uppercase;
  /* background-color: #eee; */
  padding: 5px 3px 5px 3px;
}

.lynx-calendar{
  display:inline-block;

}

.lynx-calendar::last-child{
  border-right: none;  
}

.lynx-month{
  padding: 20px;
  text-transform: uppercase;
  font-size: 12px;
}

.lynx-calendar h5{
  width:100%;
  text-align:center;
  font-weight:bold;
  font-size:18px
}



.lynx-selected{
  background: #ebfaff;
  color: #36bbd6;
  border-radius: 50%;
}
.range-date{
  background: #42bbe0;
  border-radius: 50%;
  color:#fff; 
 }

.lynx-month:hover{
 
box-shadow: 0 0 0 1px rgb(9, 97, 148) inset;
 
cursor:pointer;
}

.lynx-selected.lynx-month:hover{


}

.lynx-calendarholder .col-xs-6 {
  max-width: 250px;
  min-width: 250px;
}

.lynx-calendarholder .col-xs-1 {
  max-width: 150px;
  min-width: 150px;
}

.lynx-calendarholder .btn-info{
  background-color: #40667A;
  border-color: #406670;
  width:100%;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 10px;
  padding: 10px 0px;
}

.lynx-quickset{
  color: #666;
  text-transform: uppercase;
  text-align: center;
}

.lynx-yeardown:hover, .lynx-yearup:hover{

  cursor: pointer;
  color: rgb(102, 100, 100);
}

.lynx-yeardown{
  float:left;
  margin: 6px;
}

.lynx-yearup{
  float:right;
  margin: 6px;
}

.lynx-yeardown:hover,.lynx-yearup:hover{
  color: #40667A;
}

.lynx-calendar:first .lynx-selected:first{
    background-color: #40667A;
}

.lynx-calendar:last .lynx-selected:last{
    background-color: #40667A;
}

.popover{
  max-width: 1920px!important;
}
.lynx-valid{
color: #fff;
 background-color:  #4b4b4b;
 padding: 8px 24px;
 border: 0;
 border-radius: 13px;
 pointer-events: none;
 cursor: default;
 opacity: 0.6;
 }
 .lynx-valid-active{
  background-color:  #42bbe0;
  pointer-events:visible; 
  cursor: pointer;
  opacity:1;
  }

